# COMPOSE_VERSION=2025.11.9.1
# If no ports are published via ports: - "port:port" this will isolate the container and does not map it to any host port
# plugins-api port 8083 is published which allows for direct LAN access from the plugin to avoid traversing the internet
# Configure the plugin for local access with: http://ip.address.of.remote.falcon:8083/remote-falcon-plugins-api instead of yourdomain.com
# minio port 9001 is published for direct LAN access to the MinIO server
# nginx confg will use the container_name in default.conf
# Cloudflare tunnel public hostnames and catch-all rule will need to use the nginx container_name 'nginx'
# Default for Remote Falcon images is to build locally via build context and args defined in .env
# If REPO is defined in .env then the update_containers.sh script will update the image: line to include ghcr.io/${REPO}/ to pull images from GitHub Container Registry if they exist

services:
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: unless-stopped
    volumes:
      - ${NGINX_CONF}:/etc/nginx/templates/default.conf.template:ro
      - ${NGINX_CERT}:/etc/ssl/cert.pem:ro
      - ${NGINX_KEY}:/etc/ssl/key.pem:ro
    environment:
      - YOUR_DOMAIN=${DOMAIN}
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
  mongo:
    image: mongo:latest
    container_name: mongo
    restart: always
    volumes:
      - ${MONGO_PATH}:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
  minio:
    image: coollabsio/minio:latest
    container_name: remote-falcon-images.minio
    restart: always
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - ${MINIO_PATH}:/data
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
      - MINIO_SERVER_URL=http://minio:9000
      - MINIO_DOMAIN=minio
    command: ["server", "/data", "--console-address", ":9001"]
  plugins-api:
    build:
      context: https://github.com/Remote-Falcon/remote-falcon-plugins-api.git
      args:
        - OTEL_OPTS=${OTEL_OPTS}
        - OTEL_URI=${OTEL_URI}
        - MONGO_URI=${MONGO_URI}
    image: plugins-api:latest
    container_name: plugins-api
    restart: always
    ports:
      - "8083:8083"
    environment:
      - quarkus.http.port=8083
      - sequence-limit=${SEQUENCE_LIMIT}
    depends_on:
      - mongo
  control-panel:
    build:
      context: https://github.com/Remote-Falcon/remote-falcon-control-panel.git
      args:
        - OTEL_OPTS=${OTEL_OPTS}
    image: control-panel:latest
    container_name: control-panel
    restart: always
    environment:
      - SERVER_PORT=8081
      - WEB_URL=https://${DOMAIN}
      - AUTO_VALIDATE_EMAIL=${AUTO_VALIDATE_EMAIL}
      - JWT_USER=${USER_JWT_KEY}
      - SPRING_DATA_MONGODB_URI=${MONGO_URI}
      - GITHUB_PAT= # This is only needed for the 'Work Item Tracker' for people to post issues to GitHub for your RF instance
      - SENDGRID_KEY=${SENDGRID_KEY}
      - CLIENT_HEADER=${CLIENT_HEADER}
      - S3_ENDPOINT=${S3_ENDPOINT}
      - S3_ACCESSKEY=${S3_ACCESS_KEY}
      - S3_SECRETKEY=${S3_SECRET_KEY}
      - WATTSON_ENDPOINT=
      - WATTSON_KEY=
    depends_on:
      - mongo
  viewer:
    build:
      context: https://github.com/Remote-Falcon/remote-falcon-viewer.git
      args:
        - OTEL_OPTS=${OTEL_OPTS}
        - OTEL_URI=${OTEL_URI}
        - MONGO_URI=${MONGO_URI}
    image: viewer:latest
    container_name: viewer
    restart: always
    environment:
      - quarkus.http.port=8082
      - client.header=${CLIENT_HEADER}
    depends_on:
      - mongo
  ui:
    build:
      context: https://github.com/Remote-Falcon/remote-falcon-ui.git
      args:
        - HOST_ENV=${HOST_ENV}
        - VERSION=${VERSION}
        - CONTROL_PANEL_API=https://${DOMAIN}/remote-falcon-control-panel
        - VIEWER_API=https://${DOMAIN}/remote-falcon-viewer
        - VIEWER_JWT_KEY=${VIEWER_JWT_KEY}
        - GOOGLE_MAPS_KEY=${GOOGLE_MAPS_KEY}
        - PUBLIC_POSTHOG_HOST=${PUBLIC_POSTHOG_HOST}
        - PUBLIC_POSTHOG_KEY=${PUBLIC_POSTHOG_KEY}
        - GA_TRACKING_ID=${GA_TRACKING_ID}
        - MIXPANEL_KEY=${MIXPANEL_KEY}
        - HOSTNAME_PARTS=${HOSTNAME_PARTS}
        - SOCIAL_META=${SOCIAL_META}
        - SWAP_CP=${SWAP_CP}
        - VIEWER_PAGE_SUBDOMAIN=${VIEWER_PAGE_SUBDOMAIN}
    image: ui:latest
    container_name: ui
    restart: always
    depends_on:
      - control-panel
      - viewer
  external-api:
    build:
      context: https://github.com/Remote-Falcon/remote-falcon-external-api.git
      args:
        - OTEL_OPTS=${OTEL_OPTS}
    image: external-api:latest
    container_name: external-api
    restart: always
    environment:
      - SERVER_PORT=8084
      - SPRING_DATA_MONGODB_URI=${MONGO_URI}
      - VIEWER_API_URL=https://${DOMAIN}/remote-falcon-viewer
    depends_on:
      - mongo